/* deeva css stylesheet */

body {
  background-image:url('images/geometry.png');
}

#myContainer {
  margin-left: auto;
  margin-right: auto;
}

#code {
  position: relative;
  width: 50%;

}

#runBtn {
  width: 50px;
  height: 50px;
  background: orange;
  border-radius: 7px;
  box-shadow: 5px 5px 0px 0px #ccc;
  margin-right: 5px;
}

#stepOverBtn {
  width: 50px;
  height: 50px;
  background: orange;
  border-radius: 7px;
  box-shadow: 5px 5px 0px 0px #ccc;
  margin-right: 5px;
}

#stopBtn {
  width: 50px;
  height: 50px;
  background: orange;
  border-radius: 7px;
  box-shadow: 5px 5px 0px 0px #ccc;
  margin-right: 5px;
}

#stepIntoBtn {
  width: 50px;
  height: 50px;
  background: orange;
  border-radius: 7px;
  box-shadow: 5px 5px 0px 0px #ccc;
  margin-right: 5px;
}

#stepReturnBtn {
  width: 50px;
  height: 50px;
  background: orange;
  border-radius: 7px;
  box-shadow: 5px 5px 0px 0px #ccc;
  margin-right: 5px;
}

#console-btn {
  color: orange;
  font-size: 20px;
  cursor: pointer;
}

#arg-btn {
  color: orange;
  font-size: 20px;
  cursor: pointer;
}

#header {
  height: 130px;
  color: black;
  background-color: rgb(255, 153, 0);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#title {
  font-size: 50px;
  padding-left: 30px;
  padding-top: 60px;
}

#buttons_container {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

