
.stackFrameVarTable{
 height: 30px;
 font-weight: bold;
 font-size: 15px;
 background-color: rgb(255, 184, 0);
 text-align: center;
}

.stackFrameVar, .stackFrameValue{
  min-width: 50px;
  height: 30px;
  border: 1px solid rgb(224, 224, 224);
}

#stack_td{
  margin-left: 20%;
}

#stackHeader, #heapHeader{
 font-weight: bold;
 font-size: 25px;
 color: rgb(255, 184, 0);
 margin-left: 10px;
}

.stackFrameHeader{
	font-weight: bold;
	font-size: 16px;
	margin-top: 13px;
	background: rgb(224, 224, 224);
	text-align: center;
	border-radius: 5px 5px 0 0;
	width: 101px;
}

.typeLabel {
	text-decoration: underline;
	background: rgb(224, 224, 224);
	text-align: center;
	border-radius: 5px 5px 0 0;
	width: 91px;
}

.indice td, .value td {
  text-align: center;
}

#value td {
  height: 30px;
}

table.ARRAY{
  background-color: #F3F3F3;
}

table.STRING{
  background-color: #FFF4BA;
  border-radius: 0 5px 5px 5px;
}

table.OBJECT{
  background-color: rgb(177, 243, 252);
  border-radius: 0 5px 5px 5px;
}

svg.connectLine path{
  stroke: black;
  stroke-width: 1;
}

.stackPoint svg circle{
  fill: black;
}

#heapBody {
  margin-top: 12px;
}

.heapRow {
	min-width: 80px;
    margin: 5px;
}

.heapRow table {
    border-collapse: collapse;
}

.STRING td {
	min-width: 20px;
}

.STRING .value td {
	font-size: 20px;
}

.STRING .indice td {
	font-size: 10px;
}

.ARRAY td {
	min-width: 30px;
	border-right: 1px solid #dff0d8;
	border-left: 1px solid #dff0d8;
	font-weight: bold;
}

.ARRAY .value td {
	front-size: 20px;
}

.ARRAY .indice td {
	font-size: 10px;
}

.OBJECT tr {
	min-width: 30px;
}

.OBJECT td {
	front-size: 20px;
	text-align: center;
	min-width: 60px;
}

.pointer{
	cursor: pointer;
	display: block;
	height: 100%;
}

.panel{
    display: inline-block;
    min-width: 20px;
}
