
.stackFrameVar, .stackFrameValue{
 min-width: 50px;
 height: 30px;
 font-weight: bold;
 font-size: 15px;
 background-color: #F5B142;
 border: 2px solid white;
}

.stackFrameValue{
 text-align: center;
}

#stack_td{
  margin-left: 20%;
}

#heap_td{
}

#stackHeader, #heapHeader{
 font-weight: bold;
 font-size: 30px;
}

.stackFrameHeader{
 font-weight: bold;
 font-size: 20px;
 padding-top: 15px;
 padding-bottom: 10px;
 
}

.stackFrame{

}
#heap{
 padding-top:50px;
}

