<div class="row">
  <div class="col-md-9">
    <ol class="breadcrumb packages">
      <li ng-repeat="crumb in breadcrumb" class="dropdown">
        <!-- The package name with dropdown toggle -->
        <a href="#" data-toggle="dropdown" ng-class="{unselected : pkg_was_selected(crumb)}">
          {{crumb}}
        </a>

        <!-- Associated Dropdown Menu -->
        <ul class="dropdown-menu" ng-init="bcIndex = $index">
          <!-- Packages - do a ng-show on the header..-->
          <li role="presentation" class="dropdown-header" ng-show="!isEmpty(getPackages(crumb, $index))">Packages</li>

          <!-- TODO: need to apply class for the active menu -->
          <li role="presentation"
              ng-repeat="(package_name, package_contents) in getPackages(crumb, $index)"
              ng-class="{disabled: package_name == crumb}">
            <a role="menuitem" tabindex="-1" href="#"
               ng-click="selectPackage(bcIndex, package_name)"
               ng-class="{selected: package_name == crumb}">
              {{package_name}}
            </a>
          </li>

          <!-- Divider -->
          <li role="presentation" class="divider"
              ng-show="!isEmpty(getPackages(crumb, $index)) && !isEmpty(getSources(crumb, $index))" ></li>
          <li role="presentation" class="dropdown-header"
              ng-show="isEmpty(getPackages(crumb, $index)) && isEmpty(getSources(crumb, $index))">None</li>

          <!-- Source Files -->
          <li role="presentation" class="dropdown-header"
              ng-show="!isEmpty(getSources(crumb, $index))">Source Files</li>
          <li role="presentation"
              ng-repeat="(source_name, source_data) in getSources(crumb, $index)"
              ng-class="{disabled: source_name == crumb}">
            <a role="menuitem" tabindex="-1" href="#"
               ng-click="selectSource(bcIndex, source_name, source_data.className)"
               ng-class="{selected: source_name == crumb}">
              {{source_name}}
            </a>
          </li>
        </ul> <!-- end of dropdown -->
      </li> <!-- crumb in breadcrumb -->
    </ol>
  </div> <!-- col-md-9 -->
  <div class="col-md-3 select-current-class">
    <a href="#" ng-click="selectCurrentClass()"
       ng-class="{disabled: currentClass == breadcrumb.join('.')}">
      Goto current class
    </a>
  </div> <!-- col-md-3-->
</div> <!-- row -->
