<!doctype html>
<html ng-app="deeva" ng-controller="SimpleController">
<head>
  <meta charset="utf-8">
  <title>Deeva - {{file_name}}</title>

  <!-- Common css -->
  <link rel="stylesheet" href="static/css/app.css">
  <link rel="stylesheet" href="static/css/bootstrap.css">

  <!-- AngularJS -->
  <script src="static/lib/angular/angular.min.js"></script>

  <!-- codemirror.net online code editor -->
  <script src="static/lib/jquery/jquery-1.10.2.min.js"></script>
  <script src="static/lib/codemirror/codemirror-compressed.js"></script>
  <script src="static/lib/codemirror/clike.js"></script>
  <link href="static/css/codemirror.css" rel="stylesheet">

  <!-- Controller -->
  <script src="static/js/controllers.js"></script>
</head>

<body>
  <h1>Deeva</h1>

<div id="code"></div>

  <br>

<div>
  <!-- populate with a CodeMirror instance -->
  <div id="codeInputPane">
  </div>
</div>
  <button ng-click="step()">Step</button>

  <div> {{file_name}} </div>

</body>

</html>
