<!doctype html>
<html ng-app="deeva" ng-controller="SimpleController">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deeva - {{file_name}}</title>

  <!-- Common css -->
  <link rel="stylesheet" href="static/css/deeva.css">
  <link rel="stylesheet" href="static/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="static/css/bootstrap.css">

  <!-- AngularJS -->
  <script src="static/lib/angular/angular.min.js"></script>

  <!-- codemirror.net online code editor -->
  <script src="static/lib/jquery/jquery-1.10.2.min.js"></script>
  <script src="static/lib/codemirror/codemirror-compressed.js"></script>
  <script src="static/lib/codemirror/clike.js"></script>
  <link href="static/css/codemirror.css" rel="stylesheet">

  <!-- jquery-terminal -->
  <script src="static/lib/jquery-terminal/jquery.mousewheel-min.js"></script>
  <script src="static/lib/jquery-terminal/jquery.terminal-0.7.7.min.js"></script>
  <link href="static/css/jquery.terminal.css" rel="stylesheet">

  <!-- jquery-ui -->
  <script src="static/lib/jquery-ui/jquery-ui-1.10.3.custom.min.js"></script>
  <link href="static/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">

  <!-- tag-it -->
  <script src="static/lib/tag-it/tag-it.min.js"></script>
  <link href="static/css/jquery.tagit.css" rel="stylesheet">

  <!-- Controller -->
  <script src="static/js/controllers.js"></script>
</head>

<body>
  <div class="container-fluid" id="myContainer">
    <div class="row-fluid">
      <div class="span12" id="header">  
        <h1 id="title">Deeva</h1>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <!-- populate with a CodeMirror instance -->
        <div id="codeInputPane">{{file_name}}</div>
      </div>
      <div class="span6">
        <p id='arg-btn' ng-click="showArguments=!showArguments">Arguments</p>
        <ul id="arguments" ng-show="showArguments"></ul>
        <div id='buttons_container'>
          <input type="image" id='run-btn' ng-click="run()" src="static/css/images/Run.png"></input>
          <input type="image" id='stop-btn' ng-click="stop()" src="static/css/images/Stop_disabled.png"></input>
          <input type="image" id='step-btn' ng-click="step()" src="static/css/images/Step_over_disabled.png"></input>
          <input type="image" id='step-into-btn' ng-click="step_into()" src="static/css/images/Step_into_disabled.png"></input>
          <input type="image" id='step-return-btn' ng-click="step_return()" src="static/css/images/Step_return_disabled.png"></input>
        </div>
        <p id='console-btn' ng-click="showStdIn=!showStdIn">Console</p>
        <div ng-show="showStdIn" id="terminal"></div>
      </div>
    </div>
    <div class="row">
      Stack&Heap
    </div>
  </div>
</body>

</html>
