<!doctype html>
<html ng-app="deeva" ng-controller="SimpleController">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deeva - {{current_class}}</title>

    <!-- Common css -->
    <link rel="stylesheet" href="static/css/deeva.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/stack.css">
    <link rel="stylesheet" href="static/css/package.css">
    <link rel="stylesheet" href="static/css/arguments.css">

    <!-- D3 -->
    <script src="static/lib/d3/d3.v3.min.js"></script>

    <!-- codemirror.net online code editor -->
    <script src="static/lib/jquery/jquery-1.10.2.min.js"></script>
    <script src="static/lib/codemirror/codemirror-compressed.js"></script>
    <script src="static/lib/codemirror/clike.js"></script>
    <link href="static/css/codemirror.css" rel="stylesheet">

    <!-- jquery-terminal -->
    <script src="static/lib/jquery-terminal/jquery.mousewheel-min.js"></script>
    <script src="static/lib/jquery-terminal/jquery.terminal-0.7.7.min.js"></script>
    <link href="static/css/jquery.terminal.css" rel="stylesheet">

    <!-- AngularJS -->
    <script src="static/lib/angular/angular.min.js"></script>

    <!-- Bootstrap tab.js -->
    <script src="static/js/bootstrap.js"></script>

    <!-- Controller, Directives, Services-->
    <script src="static/js/controllers.js"></script>
    <script src="static/js/directives.js"></script>
    <script src="static/js/services.js"></script>

    <!-- Stack -->
    <script src="static/js/stack.js"></script>

    <!-- jsPlumber -->
    <script src="static/lib/jsplumber/jquery.jsPlumb-1.5.3.js"></script>

  </head>

  <body>
    <div id="header">
      <h1>Deeva</h1>
    </div>
    <div class="container" id="myContainer">
      <div class="row">
        <div class="col-md-6" style="max-width:{{cmMaxWidth}}px">
          <!-- Arguments -->
          <deeva-args args="args" enable-assertions="enableAssertions"></deeva-args>

          <!-- Buttons Container -->
          <div id="buttons_container">
            <div type="image" class="myButtons" id="runBtn"
                 ng-click="clickButton('run', enableAssertions, args)" title="Continue">
              <div id="innerRunBtn" ng-show="currentState != 'NO_INFERIOR'"></div>
              <div id="innerRunBtnText" ng-show="currentState == 'NO_INFERIOR'">Run</div>
            </div>
            <div type="image" class="myButtons" id="stopBtn"
                 ng-disabled="!(state.stopBtn.indexOf(currentState) > -1)"
                 ng-click="stop()" title="Stop">
              <div id="innerStopBtn"></div>
            </div>
            <div type="image" class="myButtons" id="stepOverBtn"
                 ng-disabled="!(state.stepOverBtn.indexOf(currentState) > -1)"
                 ng-click="clickButton('stepOver')" title="Next">
            </div>
            <div type="image" class="myButtons" id="stepIntoBtn"
                 ng-disabled="!(state.stepIntoBtn.indexOf(currentState) > -1)"
                 ng-click="clickButton('stepInto')" title="Step Into">
            </div>
            <div type="image" class="myButtons" id="stepReturnBtn"
                 ng-disabled="!(state.stepReturnBtn.indexOf(currentState) > -1)"
                 ng-click="clickButton('stepReturn')" title="Step Out">
            </div>
          </div> <!-- end buttons container -->

          <!-- Package directive -->
          <deeva-package breadcrumb="breadcrumb" package-dir="package_dir"
                         current-class="current_class"
                         source-click="loadFile"></deeva-package>
          <!-- CodeMirror Instance -->
          <div id="codeInputPane" class="outer-circle"></div>
        </div> <!-- end col-md-6 -->

        <!-- Begin Stack/Heap section, bring this into a new controller, easier to separate -->
        <div class="col-md-6">
          <div id="state">{{stateToPresent[currentState]}}</div>
          <p id="console">Console</p>
          <div id="terminal"></div>

          <div class="row" id="heap_stack">
            <div id="visual">
              <div class="col-md-4">
                <div id="stack_td">
                  <div id="stack">
                    <div id="stackHeader">Stacks</div>

                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div id="heap_td">
                   <div id="heap">
                     <div id="heapHeader">Heap</div>
                   </div>
                </div>
              </div>
            </div>
          </div> <!-- end heap/stack div -->


        </div> <!-- end Stack/Heap... section -->
      </div> <!-- end row -->
    </div> <!-- end container -->

  </body>

</html>
