<!doctype html>
<html ng-app="deeva" ng-controller="SimpleController">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deeva - {{file_name}}</title>

  <!-- Common css -->
  <link rel="stylesheet" href="static/css/deeva.css">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="static/css/stack.css">

  <!-- D3 -->
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <!-- AngularJS -->
  <script src="static/lib/angular/angular.min.js"></script>

  <!-- codemirror.net online code editor -->
  <script src="static/lib/jquery/jquery-1.10.2.min.js"></script>
  <script src="static/lib/codemirror/codemirror-compressed.js"></script>
  <script src="static/lib/codemirror/clike.js"></script>
  <link href="static/css/codemirror.css" rel="stylesheet">

  <!-- jquery-terminal -->
  <script src="static/lib/jquery-terminal/jquery.mousewheel-min.js"></script>
  <script src="static/lib/jquery-terminal/jquery.terminal-0.7.7.min.js"></script>
  <link href="static/css/jquery.terminal.css" rel="stylesheet">

  <!-- jquery-ui -->
  <script src="static/lib/jquery-ui/jquery-ui-1.10.3.custom.min.js"></script>
  <link href="static/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">

  <!-- tag-it -->
  <script src="static/lib/tag-it/tag-it.min.js"></script>
  <link href="static/css/jquery.tagit.css" rel="stylesheet">
  <!-- Bootstrap tab.js -->
  <script src="static/js/bootstrap.js"></script>

  <!-- Controller -->
  <script src="static/js/controllers.js"></script>

  <!-- Stack -->
  <script src="static/js/stack.js"></script>
</head>

<body>
  <div class="container">
    <div class="jumbotron"id="header">
        <h1>Deeva</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-tabs">
            <li data-toggle="tooltip" data-placement="top" data-original-title="Tooltip on top"><a href="#" data-toggle="tab" class="myTabs">{{file_name}}</a></li>
        </ul>

          <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <!-- populate with a CodeMirror instance -->
                <div id="codeInputPane" class=outer-circle></div>
            </div>
        </div>
      </div>
      <div class="tooltip">
        <div class="tooltip-inner">
          Tooltip!
        </div>
        <div class="tooltip-arrow"></div>
      </div>
      <div class="col-md-6">
        <p id='arg-btn'>Arguments</p>
        <div class="row">
          <div class="col-md-10">
            <ul id="arguments" ng-show="showArguments"></ul>
          </div>
          <div class="col-md-2">
            <div id="startBtn" class='myButtons' title="Run Program">Run</div>
          </div>
        </div>
        <div id="state">{{stateToPresent[currentState]}}</div>
        <div id='buttons_container'>
          <input type="image" class='myButtons' id='runBtn' ng-disabled="!state.runBtn" ng-click="clickButton('run')" src="static/css/images/run.png" trigger="hover" title="Continue"></input>
          <input type="image" class='myButtons' id='stopBtn' ng-disabled="!state.stopBtn" ng-click="stop()" src="static/css/images/stop.png" title="Stop"></input>
          <input type="image" class='myButtons' id='stepOverBtn' ng-disabled="!state.stepOverBtn" ng-click="clickButton('stepOver')" src="static/css/images/step_over.png" title="Next"></input>
          <input type="image" class='myButtons' id='stepIntoBtn' ng-disabled="!state.stepIntoBtn" ng-click="clickButton('stepInto')" src="static/css/images/Step_into.png" title="Step Into"></input>
          <input type="image" class='myButtons' id='stepReturnBtn' ng-disabled="!state.stepReturnBtn" ng-click="clickButton('stepReturn')" src="static/css/images/step_return.png" title="Step Out"></input>
        </div>
        <p id='console-btn' ng-click="showStdIn=!showStdIn">Console</p>
        <div ng-show="showStdIn" id="terminal"></div>
      </div>
    </div>
    <div class="row">
        <div id="visual">
         <table id="stackHeapTable">
          <tbody>
            <tr>
              <td id="stack_td"> </td>
              <td id="heap_td"> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<script>
</script>

</body>

</html>
